<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
  {{>navbar}}
    <!---Main Header-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!---Left side Header-->
                    <div class="col-md-12 col-12 main_header_left align-items-centre">
                        <figure class="errorimg">
                         <img src="images/img1.jpg" alt="clouds image" class="img-fluid" title="Clouds">
                        </figure>
                        <p>Error</p>
                        <h1>{{errorpage}}</h1>
                        <a href="/"><button>Go Back</button></a>
                           </div>
                        
                    </div>
                    </div>
                </div>
            </div>      
     <!---Footer Code-->
     {{>footer}}
</body>
</html>